@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

/* Light theme */
:root {
  --body-bg: #f0f0f0;
  --body-text: #212529;
}

/* Dark theme */
[data-theme='dark'] {
  --body-bg: #212529;
  --body-text: #ffffff;
}

body {
  background-color: var(--body-bg) !important;
  color: var(--body-text) !important;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}
input.is-dark:-webkit-autofill,
input.is-dark:-webkit-autofill:hover,
input.is-dark:-webkit-autofill:focus,
input.is-dark:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #212529 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
