@import 'tailwindcss';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}
input.is-dark:-webkit-autofill,
input.is-dark:-webkit-autofill:hover,
input.is-dark:-webkit-autofill:focus,
input.is-dark:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #212529 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
